# Ex - GroupBy

### Introduction:

GroupBy can be summarizes as Split-Apply-Combine.

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

Check out this [Diagram](http://i.imgur.com/yjNkiwL.png)  
### Step 1. Import the necessary libraries

In [2]:
import pandas as pd
import io
import requests
import numpy as np
pd.set_option('display.max_rows', 500)

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv).

### Step 3. Assign it to a variable called drinks.

In [11]:
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv"
s = requests.get(url).content
drinks = pd.read_csv(io.StringIO(s.decode('utf-8')))
drinks['continent'].fillna('Unassigned', inplace=True)
print(drinks)

                          country  beer_servings  spirit_servings  \
0                     Afghanistan              0                0
1                         Albania             89              132
2                         Algeria             25                0
3                         Andorra            245              138
4                          Angola            217               57
5               Antigua & Barbuda            102              128
6                       Argentina            193               25
7                         Armenia             21              179
8                       Australia            261               72
9                         Austria            279               75
10                     Azerbaijan             21               46
11                        Bahamas            122              176
12                        Bahrain             42               63
13                     Bangladesh              0                0
14                       Barbados            143              173
15                        Belarus            142              373
16                        Belgium            295               84
17                         Belize            263              114
18                          Benin             34                4
19                         Bhutan             23                0
20                        Bolivia            167               41
21             Bosnia-Herzegovina             76              173
22                       Botswana            173               35
23                         Brazil            245              145
24                         Brunei             31                2
25                       Bulgaria            231              252
26                   Burkina Faso             25                7
27                        Burundi             88                0
28                  Cote d'Ivoire             37                1
29                     Cabo Verde            144               56
30                       Cambodia             57               65
31                       Cameroon            147                1
32                         Canada            240              122
33       Central African Republic             17                2
34                           Chad             15                1
35                          Chile            130              124
36                          China             79              192
37                       Colombia            159               76
38                        Comoros              1                3
39                          Congo             76                1
40                   Cook Islands              0              254
41                     Costa Rica            149               87
42                        Croatia            230               87
43                           Cuba             93              137
44                         Cyprus            192              154
45                 Czech Republic            361              170
46                    North Korea              0                0
47                       DR Congo             32                3
48                        Denmark            224               81
49                       Djibouti             15               44
50                       Dominica             52              286
51             Dominican Republic            193              147
52                        Ecuador            162               74
53                          Egypt              6                4
54                    El Salvador             52               69
55              Equatorial Guinea             92                0
56                        Eritrea             18                0
57                        Estonia            224              194
58                       Ethiopia             20                3
59                           Fiji             77               35
60                        Finland            263              133
61                         France            127              151
62                          Gabon            347               98
63                         Gambia              8                0
64                        Georgia             52              100
65                        Germany            346              117
66                          Ghana             31                3
67                         Greece            133              112
68                        Grenada            199              438
69                      Guatemala             53               69
70                         Guinea              9                0
71                  Guinea-Bissau             28               31
72                         Guyana             93              302
73                          Haiti              1              326
74                       Honduras             69               98
75                        Hungary            234              215
76                        Iceland            233               61
77                          India              9              114
78                      Indonesia              5                1
79                           Iran              0                0
80                           Iraq              9                3
81                        Ireland            313              118
82                         Israel             63               69
83                          Italy             85               42
84                        Jamaica             82               97
85                          Japan             77              202
86                         Jordan              6               21
87                     Kazakhstan            124              246
88                          Kenya             58               22
89                       Kiribati             21               34
90                         Kuwait              0                0
91                     Kyrgyzstan             31               97
92                           Laos             62                0
93                         Latvia            281              216
94                        Lebanon             20               55
95                        Lesotho             82               29
96                        Liberia             19              152
97                          Libya              0                0
98                      Lithuania            343              244
99                     Luxembourg            236              133
100                    Madagascar             26               15
101                        Malawi              8               11
102                      Malaysia             13                4
103                      Maldives              0                0
104                          Mali              5                1
105                         Malta            149              100
106              Marshall Islands              0                0
107                    Mauritania              0                0
108                     Mauritius             98               31
109                        Mexico            238               68
110                    Micronesia             62               50
111                        Monaco              0                0
112                      Mongolia             77              189
113                    Montenegro             31              114
114                       Morocco             12                6
115                    Mozambique             47               18
116                       Myanmar              5                1
117                       Namibia            376                3
118                         Nauru             49                0
119                         Nepal              5                6
120                   Netherlands            251               88
121                   New Zealand            203               79
122                     Nicaragua             78              118
123                         Niger              3                2
124                       Nigeria             42                5
125                          Niue            188              200
126                        Norway            169               71
127                          Oman             22               16
128                      Pakistan              0                0
129                         Palau            306               63
130                        Panama            285              104
131              Papua New Guinea             44               39
132                      Paraguay            213              117
133                          Peru            163              160
134                   Philippines             71              186
135                        Poland            343              215
136                      Portugal            194               67
137                         Qatar              1               42
138                   South Korea            140               16
139                       Moldova            109              226
140                       Romania            297              122
141            Russian Federation            247              326
142                        Rwanda             43                2
143             St. Kitts & Nevis            194              205
144                     St. Lucia            171              315
145  St. Vincent & the Grenadines            120              221
146                         Samoa            105               18
147                    San Marino              0                0
148           Sao Tome & Principe             56               38
149                  Saudi Arabia              0                5
150                       Senegal              9                1
151                        Serbia            283              131
152                    Seychelles            157               25
153                  Sierra Leone             25                3
154                     Singapore             60               12
155                      Slovakia            196              293
156                      Slovenia            270               51
157               Solomon Islands             56               11
158                       Somalia              0                0
159                  South Africa            225               76
160                         Spain            284              157
161                     Sri Lanka             16              104
162                         Sudan              8               13
163                      Suriname            128              178
164                     Swaziland             90                2
165                        Sweden            152               60
166                   Switzerland            185              100
167                         Syria              5               35
168                    Tajikistan              2               15
169                      Thailand             99              258
170                     Macedonia            106               27
171                   Timor-Leste              1                1
172                          Togo             36                2
173                         Tonga             36               21
174             Trinidad & Tobago            197              156
175                       Tunisia             51                3
176                        Turkey             51               22
177                  Turkmenistan             19               71
178                        Tuvalu              6               41
179                        Uganda             45                9
180                       Ukraine            206              237
181          United Arab Emirates             16              135
182                United Kingdom            219              126
183                      Tanzania             36                6
184                           USA            249              158
185                       Uruguay            115               35
186                    Uzbekistan             25              101
187                       Vanuatu             21               18
188                     Venezuela            333              100
189                       Vietnam            111                2
190                         Yemen              6                0
191                        Zambia             32               19
192                      Zimbabwe             64               18

     wine_servings  total_litres_of_pure_alcohol   continent
0                0                           0.0          AS
1               54                           4.9          EU
2               14                           0.7          AF
3              312                          12.4          EU
4               45                           5.9          AF
5               45                           4.9  Unassigned
6              221                           8.3          SA
7               11                           3.8          EU
8              212                          10.4          OC
9              191                           9.7          EU
10               5                           1.3          EU
11              51                           6.3  Unassigned
12               7                           2.0          AS
13               0                           0.0          AS
14              36                           6.3  Unassigned
15              42                          14.4          EU
16             212                          10.5          EU
17               8                           6.8  Unassigned
18              13                           1.1          AF
19               0                           0.4          AS
20               8                           3.8          SA
21               8                           4.6          EU
22              35                           5.4          AF
23              16                           7.2          SA
24               1                           0.6          AS
25              94                          10.3          EU
26               7                           4.3          AF
27               0                           6.3          AF
28               7                           4.0          AF
29              16                           4.0          AF
30               1                           2.2          AS
31               4                           5.8          AF
32             100                           8.2  Unassigned
33               1                           1.8          AF
34               1                           0.4          AF
35             172                           7.6          SA
36               8                           5.0          AS
37               3                           4.2          SA
38               1                           0.1          AF
39               9                           1.7          AF
40              74                           5.9          OC
41              11                           4.4  Unassigned
42             254                          10.2          EU
43               5                           4.2  Unassigned
44             113                           8.2          EU
45             134                          11.8          EU
46               0                           0.0          AS
47               1                           2.3          AF
48             278                          10.4          EU
49               3                           1.1          AF
50              26                           6.6  Unassigned
51               9                           6.2  Unassigned
52               3                           4.2          SA
53               1                           0.2          AF
54               2                           2.2  Unassigned
55             233                           5.8          AF
56               0                           0.5          AF
57              59                           9.5          EU
58               0                           0.7          AF
59               1                           2.0          OC
60              97                          10.0          EU
61             370                          11.8          EU
62              59                           8.9          AF
63               1                           2.4          AF
64             149                           5.4          EU
65             175                          11.3          EU
66              10                           1.8          AF
67             218                           8.3          EU
68              28                          11.9  Unassigned
69               2                           2.2  Unassigned
70               2                           0.2          AF
71              21                           2.5          AF
72               1                           7.1          SA
73               1                           5.9  Unassigned
74               2                           3.0  Unassigned
75             185                          11.3          EU
76              78                           6.6          EU
77               0                           2.2          AS
78               0                           0.1          AS
79               0                           0.0          AS
80               0                           0.2          AS
81             165                          11.4          EU
82               9                           2.5          AS
83             237                           6.5          EU
84               9                           3.4  Unassigned
85              16                           7.0          AS
86               1                           0.5          AS
87              12                           6.8          AS
88               2                           1.8          AF
89               1                           1.0          OC
90               0                           0.0          AS
91               6                           2.4          AS
92             123                           6.2          AS
93              62                          10.5          EU
94              31                           1.9          AS
95               0                           2.8          AF
96               2                           3.1          AF
97               0                           0.0          AF
98              56                          12.9          EU
99             271                          11.4          EU
100              4                           0.8          AF
101              1                           1.5          AF
102              0                           0.3          AS
103              0                           0.0          AS
104              1                           0.6          AF
105            120                           6.6          EU
106              0                           0.0          OC
107              0                           0.0          AF
108             18                           2.6          AF
109              5                           5.5  Unassigned
110             18                           2.3          OC
111              0                           0.0          EU
112              8                           4.9          AS
113            128                           4.9          EU
114             10                           0.5          AF
115              5                           1.3          AF

### Step 4. Which continent drinks more beer on average?

In [4]:
conts = drinks['continent'].unique()
totbeer = pd.DataFrame()
for cont in conts:
    totbeer[cont] = [drinks['beer_servings'].loc[drinks['continent']==cont].sum()]

print('The',totbeer.idxmax(axis=1).to_string(index=False),'drinks the most beer')

The  EU drinks the most beer

### Step 5. For each continent print the statistics for wine consumption.

In [5]:
for cont in conts:
    print('In',cont)
    print(drinks[['country','wine_servings']].loc[drinks['continent']==cont].to_string(index=False))

In AS
              country  wine_servings
          Afghanistan              0
              Bahrain              7
           Bangladesh              0
               Bhutan              0
               Brunei              1
             Cambodia              1
                China              8
          North Korea              0
                India              0
            Indonesia              0
                 Iran              0
                 Iraq              0
               Israel              9
                Japan             16
               Jordan              1
           Kazakhstan             12
               Kuwait              0
           Kyrgyzstan              6
                 Laos            123
              Lebanon             31
             Malaysia              0
             Maldives              0
             Mongolia              8
              Myanmar              0
                Nepal              0
                 Oman              1
             Pakistan              0
          Philippines              1
                Qatar              7
          South Korea              9
   Russian Federation             73
         Saudi Arabia              0
            Singapore             11
            Sri Lanka              0
                Syria             16
           Tajikistan              0
             Thailand              1
          Timor-Leste              4
               Turkey              7
         Turkmenistan             32
 United Arab Emirates              5
           Uzbekistan              8
              Vietnam              1
                Yemen              0
In EU
            country  wine_servings
            Albania             54
            Andorra            312
            Armenia             11
            Austria            191
         Azerbaijan              5
            Belarus             42
            Belgium            212
 Bosnia-Herzegovina              8
           Bulgaria             94
            Croatia            254
             Cyprus            113
     Czech Republic            134
            Denmark            278
            Estonia             59
            Finland             97
             France            370
            Georgia            149
            Germany            175
             Greece            218
            Hungary            185
            Iceland             78
            Ireland            165
              Italy            237
             Latvia             62
          Lithuania             56
         Luxembourg            271
              Malta            120
             Monaco              0
         Montenegro            128
        Netherlands            190
             Norway            129
             Poland             56
           Portugal            339
            Moldova             18
            Romania            167
         San Marino              0
             Serbia            127
           Slovakia            116
           Slovenia            276
              Spain            112
             Sweden            186
        Switzerland            280
          Macedonia             86
            Ukraine             45
     United Kingdom            195
In AF
                  country  wine_servings
                  Algeria             14
                   Angola             45
                    Benin             13
                 Botswana             35
             Burkina Faso              7
                  Burundi              0
            Cote d'Ivoire              7
               Cabo Verde             16
                 Cameroon              4
 Central African Republic              1
                     Chad              1
                  Comoros              1
                    Congo              9
                 DR Congo              1
                 Djibouti              3
                    Egypt              1
        Equatorial Guinea            233
                  Eritrea              0
                 Ethiopia              0
                    Gabon             59
                   Gambia              1
                    Ghana             10
                   Guinea              2
            Guinea-Bissau             21
                    Kenya              2
                  Lesotho              0
                  Liberia              2
                    Libya              0
               Madagascar              4
                   Malawi              1
                     Mali              1
               Mauritania              0
                Mauritius             18
                  Morocco             10
               Mozambique              5
                  Namibia              1
                    Niger              1
                  Nigeria              2
                   Rwanda              0
      Sao Tome & Principe            140
                  Senegal              7
               Seychelles             51
             Sierra Leone              2
                  Somalia              0
             South Africa             81
                    Sudan              0
                Swaziland              2
                     Togo             19
                  Tunisia             20
                   Uganda              0
                 Tanzania              1
                   Zambia              4
                 Zimbabwe              4
In Unassigned
                      country  wine_servings
            Antigua & Barbuda             45
                      Bahamas             51
                     Barbados             36
                       Belize              8
                       Canada            100
                   Costa Rica             11
                         Cuba              5
                     Dominica             26
           Dominican Republic              9
                  El Salvador              2
                      Grenada             28
                    Guatemala              2
                        Haiti              1
                     Honduras              2
                      Jamaica              9
                       Mexico              5
                    Nicaragua              1
                       Panama             18
            St. Kitts & Nevis             32
                    St. Lucia             71
 St. Vincent & the Grenadines             11
            Trinidad & Tobago              7
                          USA             84
In SA
   country  wine_servings
 Argentina            221
   Bolivia              8
    Brazil             16
     Chile            172
  Colombia              3
   Ecuador              3
    Guyana              1
  Paraguay             74
      Peru             21
  Suriname              7
   Uruguay            220
 Venezuela              3
In OC
          country  wine_servings
        Australia            212
     Cook Islands             74
             Fiji              1
         Kiribati              1
 Marshall Islands              0
       Micronesia             18
            Nauru              8
      New Zealand            175
             Niue              7
            Palau             23
 Papua New Guinea              1
            Samoa             24
  Solomon Islands              1
            Tonga              5
           Tuvalu              9
          Vanuatu             11

### Step 6. Print the mean alcoohol consumption per continent for every column

In [22]:
meantotalcohol = pd.DataFrame()
meanwine = pd.DataFrame()
meanspirit = pd.DataFrame()
meanbeer = pd.DataFrame()
for cont in conts:
    meantotalcohol[cont] = [drinks['total_litres_of_pure_alcohol'].loc[drinks['continent']==cont].mean()]
    meanwine[cont] = [drinks['wine_servings'].loc[drinks['continent']==cont].mean()]
    meanspirit[cont] = [drinks['spirit_servings'].loc[drinks['continent']==cont].mean()]
    meanbeer[cont] = [drinks['beer_servings'].loc[drinks['continent']==cont].mean()]
print('Mean total litres of alcohol:')
print(meantotalcohol)
print('Mean total wine servings')
print(meanwine)
print('Mean total spirit servings')
print(meanspirit)
print('Mean total beer servings')
print(meanbeer)

Mean total litres of alcohol:
         AS        EU        AF  Unassigned        SA       OC
0  2.170455  8.617778  3.007547    5.995652  6.308333  3.38125
Mean total wine servings
         AS          EU         AF  Unassigned         SA      OC
0  9.068182  142.222222  16.264151   24.521739  62.416667  35.625
Mean total spirit servings
          AS          EU         AF  Unassigned      SA       OC
0  60.840909  132.555556  16.339623   165.73913  114.75  58.4375
Mean total beer servings
          AS          EU         AF  Unassigned          SA       OC
0  37.045455  193.777778  61.471698  145.434783  175.083333  89.6875

### Step 7. Print the median alcoohol consumption per continent for every column

In [23]:
mediantotalcohol = pd.DataFrame()
medianwine = pd.DataFrame()
medianspirit = pd.DataFrame()
medianbeer = pd.DataFrame()
for cont in conts:
    mediantotalcohol[cont] = [drinks['total_litres_of_pure_alcohol'].loc[drinks['continent']==cont].median()]
    medianwine[cont] = [drinks['wine_servings'].loc[drinks['continent']==cont].median()]
    medianspirit[cont] = [drinks['spirit_servings'].loc[drinks['continent']==cont].median()]
    medianbeer[cont] = [drinks['beer_servings'].loc[drinks['continent']==cont].median()]
print('median total litres of alcohol:')
print(mediantotalcohol)
print('median total wine servings')
print(medianwine)
print('median total spirit servings')
print(medianspirit)
print('median total beer servings')
print(medianbeer)

median total litres of alcohol:
    AS    EU   AF  Unassigned    SA    OC
0  1.2  10.0  2.3         6.3  6.85  1.75
median total wine servings
    AS     EU   AF  Unassigned    SA   OC
0  1.0  128.0  2.0        11.0  12.0  8.5
median total spirit servings
     AS     EU   AF  Unassigned     SA    OC
0  16.0  122.0  3.0       137.0  108.5  37.0
median total beer servings
     AS     EU    AF  Unassigned     SA    OC
0  17.5  219.0  32.0       143.0  162.5  52.5

### Step 8. Print the mean, min and max values for spirit consumption.
#### This time output a DataFrame

In [33]:
mmm = pd.DataFrame(columns = ['spirit_servings'],index=['mean','min','max'], data = [drinks['spirit_servings'].mean(),drinks['spirit_servings'].min(),drinks['spirit_servings'].max()])
mmm

      spirit_servings
mean        80.994819
min          0.000000
max        438.000000